:root{
  --bs-link-color: black;
}

.navbar {
  --bs-navbar-brand-margin-end: 45px;
}


$font-family-main:'Latp', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$header-icons-size: 26px;

$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-lg: 17px;


$main-bg: #F4F4F4;

$accent-color: #99C63C;

$accent-color-footer-title: #FFFFFF;
$accent-color-footer-text: #BDBDBE;
$footer-bg: #26282C;




$transition: .3s;